TRIDENT_ENV=development
TRIDENT_API_HOST=0.0.0.0
TRIDENT_API_PORT=8000
TRIDENT_WEB_PORT=3000
TRIDENT_DB_HOST=trident-db
TRIDENT_DB_PORT=5432
TRIDENT_VECTOR_HOST=trident-vector
TRIDENT_VECTOR_PORT=8001
TRIDENT_LOG_LEVEL=INFO

# Postgres (used by docker-compose for trident-db)
POSTGRES_USER=trident
POSTGRES_PASSWORD=changeme_local_only
POSTGRES_DB=trident
